In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [14]:
dn = pd.read_csv("/Users/macbook/Downloads/glc_insulin_dischargenotes_df.csv")
d_icd = pd.read_csv("/Users/macbook/Downloads/DIAGNOSES_ICD.csv")
d_icd_d = pd.read_csv("/Users/macbook/Downloads/D_ICD_DIAGNOSES.csv")

In [3]:
dn[dn['SUBJECT_ID'] == 11861]['TEXT'].values[0]

'Admission Date:  [**2132-8-4**]              Discharge Date:   [**2132-8-6**]\n\nDate of Birth:  [**2105-5-5**]             Sex:   F\n\nService: MEDICINE\n\nAllergies:\nMorphine / Prochlorperazine / Tramadol\n\nAttending:[**First Name3 (LF) 3705**]\nChief Complaint:\nUGIB\n\nMajor Surgical or Invasive Procedure:\nNone\n\nHistory of Present Illness:\n27 year old female PMHx T1DM, gastroperesis, grade1 varices on\nrecent EGD [**1-/2132**], chronic LBP [**1-2**] MVC in [**2129**], and recent\nadmission for DKA that was complicated by a right-sided\npneumothorax presenting with an acute non-traumatic worsening of\nlower back pain. In addition, the patient complains of nausea\nand vomiting x10 today. No clinical features to suggest acute\nabd process including aortic dissection or infectious processes\nincluding epidural abscess or acute spinal cord impingement.\nReassuring that this is per the pt identical to prior\nexacerbations.\nThere are no features on exam to suggest respiratory distress or\ntension pneumothorax. She also complained low back pain that was\nrelieved. Based on review of prior EGD report, she does have\nknown grade 1 varices.\n.\nED course: HR132 BP171/116  O2 100%/RA. She vomited 20cc of\ncoffee ground emesis. She refused NGT lavage. Groin line was\nplaced and PIV. She was given 2L NS IVF and 3mg IV dilaudid for\npain, reglan for gastroparesis. EKG negative for ischemic\nchanges or QT prolongation.\nIn addition to the lower back pain, patient is noted to be\nactively retching with approximately 10-20 cc of coffee-ground\nemesis.\nEKG: no changes or QT prlongation. She was started on a protonix\ngtt\noctreotide gtt.\n.\nOn the floor, she reports that she felt unwell since this AM\nwith back pain and began to experience vomiting clear liquid\naround noon and presented to the ED. Once she arrived here she\nvomited small amount of coffee ground emesis. Denies frank\nhematemesis, abd pain, diarrhea. Nausea and vomiting now\nresolved. Has had occasional chills, subjective fevers. Denies\nEtOH, drugs or recent tobacco use. Passing flatus. Last BM on\n[**Year (4 digits) 2974**], stools every 3-4 days at baseline. Of note pt states\nthat she has been under high levels of emotional stress as she\nhas been having high anxiety states and panic attacks\nsurrounding sexual abuse flashbacks from age 11yo. She declines\nsocial work consult currently.\n.\nReview of systems:\n(+) Per HPI\n(-) Denies fever, chills, night sweats, recent weight loss or\ngain. Denies headache, sinus tenderness, rhinorrhea or\ncongestion. Denies cough, shortness of breath, or wheezing.\nDenies chest pain, chest pressure, palpitations, or weakness.\nDenies nausea, vomiting, diarrhea, constipation, abdominal pain,\nor changes in bowel habits. Denies dysuria, frequency, or\nurgency. Denies arthralgias or myalgias. Denies rashes or skin\nchanges.\n.\n\n\nPast Medical History:\n- Diabetes mellitus type I: diagnosed age 16 in [**2120**] after her\nfirst pregnancy. followed at [**Last Name (un) 387**].\n- Severe anxiety/panic attacks\n- Previous admissions for nausea/vomiting with h/o esophagitis\nand with concern for diabetic gastroparesis on metoclopramide\n- Esophagitis / H. Pylori [**6-/2128**] and again [**8-/2130**]\n- Stage I diabetic nephropathy\n- Grade I esophageal varices seen on scope in [**2132-1-1**],\nnegative liver ultrasound, normal LFTs, hep panel negative\n- Anxiety/panic attacks\n- Depression\n- Hyperlipidemia\n- S/P MVA [**5-3**] - lower back pain since then.\n- S/P MVA [**2130**], ex-lap\n- G2P1Ab1, s/p miscarriage in 06/00 3rd trimester, s/p C-section\n\nin [**2122**], not menstruating secondary to being on Depo-Provera\n- Genital Herpes\n- H pylori, s/p 2-week triple therapy on [**2132-1-24**]\n.\n\n\nSocial History:\nLives with her 9 yo son. On disability.\n- Tobacco: quit "years ago"\n- Alcohol: [**12-2**] glasses wine or champagne at holidays/special\noccasions (none recently)\n- Illicits:  none, denies IVDU\n\n\nFamily History:\nGrandmother with diabetes, no other significant family history\n\n\nPhysical Exam:\nAdmission Physical\nVitals: T:98.0 BP:138/78 P:109 R: 17 O2:98/RA\nGeneral: Alert, oriented, thin AA female, sitting in bed, no\nacute distress\n[**Month/Day (2) 4459**]: Sclera anicteric, oral mucosa pink/dry, oropharynx clear\n\nNeck: supple, JVP not elevated, no LAD\nLungs: Clear to auscultation bilaterally, no wheezes, rales,\nronchi\nCV: Regular rate and rhythm, normal S1 + S2, no murmurs, rubs,\ngallops\nAbdomen: soft, non-tender, non-distended, bowel sounds present,\nno rebound tenderness or guarding, no organomegaly\nGU: no foley\nExt: warm, well perfused, 2+ pulses, no clubbing, cyanosis or\nedema, R groin line in place\n\n\nPertinent Results:\n[**2132-8-3**] 03:30AM [**Month/Day/Year 3143**] WBC-7.6 RBC-2.93* Hgb-8.7* Hct-25.1*\nMCV-86 MCH-29.6 MCHC-34.4 RDW-13.4 Plt Ct-185\n[**2132-8-6**] 08:05AM [**Month/Day/Year 3143**] WBC-7.5 RBC-3.39* Hgb-9.5* Hct-29.4*\nMCV-87 MCH-28.1 MCHC-32.3 RDW-13.9 Plt Ct-292\n[**2132-8-4**] 11:12PM [**Month/Day/Year 3143**] PT-12.9 PTT-25.2 INR(PT)-1.1\n[**2132-8-3**] 03:30AM [**Month/Day/Year 3143**] Glucose-250* UreaN-11 Creat-1.1 Na-136\nK-3.4 Cl-100 HCO3-30 AnGap-9\n[**2132-8-6**] 08:05AM [**Month/Day/Year 3143**] Glucose-278* UreaN-10 Creat-1.0 Na-134\nK-4.4 Cl-99 HCO3-27 AnGap-12\n[**2132-8-5**] 03:22AM [**Month/Day/Year 3143**] ALT-10 AST-14 AlkPhos-54 TotBili-0.4\n\n\n\nCHEST (PA & LAT) Study Date of [**2132-8-4**] 9:41 PM\nFINDINGS: The lungs are well expanded and clear. The mediastinum\nis\nunremarkable. The cardiac silhouette is within normal limits for\nsize. No\neffusion or pneumothorax is noted. The osseous structures are\nunremarkable.\n\nIMPRESSION: No acute pulmonary process. No recurrent\npneumothorax seen.\n\n.\n.\n\nCHEST (PORTABLE AP) Study Date of [**2132-8-3**] 5:10 PM\n\nHISTORY: Chest tube pulled.\n\nFINDINGS: The right-sided chest tube has been removed. There is\nno\npneumothorax. The lungs are clear.\n\n.\n.\nCardiology Report ECG Study Date of [**2132-8-4**]  6:58:34 PM\n .\nSinus tachycardia. Accelerated A-V conduction. Compared to the\nprevious tracing of [**2132-8-2**] no significant change.\n .\n  Intervals Axes\nRate PR QRS QT/QTc P QRS T\n129 118 76 312/432 79 81 60\n\n\n\nBrief Hospital Course:\nMs. [**Known lastname **] is a 27y F hx of DM1, recent PTX s/p rIJ placement\nwith recent admission for DKA presenting with low back pain,\nnausea/vomiting and episode of coffee ground emesis concerning\nfor UGIB, initially monitored overnight in MICU, but found to\nhave stable hematocrit, [**Known lastname **] resolved after several hours.\n\n# Coffee Ground Emesis\nPatient had scant amount of coffee ground emesis in the ED which\nresolved on arrival to floor. She continued to have\nnausea/vomiting but was non-bloody bilious vomiting wo coffee\ngrounds or frank [**Known lastname **]. There was low concern for UGIB - thought\nto be self resolving [**Doctor First Name 329**] [**Doctor Last Name **] vs PUD given Hpylori\npositive, has been treated in past but unclear if re-infected.\nShe was started on protonix and octreotide gtt in the ED and was\ntransitioned to protonix IV bid in the MICU without octreotide\ngiven clinical stability. She did have grade 1 varix on EGD in\n[**1-/2132**], though unclear etiology and no hx of prior variceal\nbleed.  Very low suspicion for variceal bleed given HD\nstability, HCT stable and cessation of emesis. GI was not\nconsulted in the ED on presentation and given her clinical\nstability in the MICU and low suspicion for ongoing GIB, MICU\nteam did not consult GI as she did not require EGD.  She was\ntransitioned to PO meds: antiemetics, po dilaudid and\npantoprazole. She was bolused with NS for dehydration and poor\npo intake prior to presentation - and tachycardia. Femoral line\n(placed in the ED) was discontinued prior to transfer to the\nfloor. Her diet was advanced to clears and then as tolerated. On\ntransfer to the floor, patient\'s [**Year (4 digits) **] of nausea/vomiting had\nresolved.\n\n# Gastroparesis\nChronic cause of her nausea/vomiting.  Nausea/vomiting flares\nare often triggered by stressors such as the low back pain, per\npatient, though she reports they are not the same as her\ngastroparesis flares. She was continued on home reglan and\nlantus.  Her pain was controlled with IV dilaudid and\ntransitioned to PO dilaudid when her vomiting decreased.\nTransitioned back to po oxycodone on arrival to the floor which\nis what she was given at discharge on prior hospitalization\n(given 15 pills with no need for refills at that time).\nPatient\'s [**Year (4 digits) **] had resolved by discharge.\n\n# Low back pain\nRelated to hx of MVA, now has chronic pain. Psychiatric issues\ncould be contributing to back pain [**Year (4 digits) **].  Was on dilaudid in\nMICU but was transitioned back to oxycodone on arrival to floor\nand has pills left from previous hospitalization to take as an\noutpatient.  Heat packs helped with pain.  Continued on home\ngabapentin.\n\n# PTSD\nPatient has hx of sexual abuse, had psych consult on previous\nadmission, resulting in setup of outpatient psych eval for day\nprogram.  She feels these social stressors weigh down her\nsignificantly, and that the stress may have triggered last DKA\nepisode.  Citalopram was continued at home dose. Outpatient\npsych eval rescheduled for this [**Year (4 digits) 2974**].\n\n# DM1\nPatient presented with DKA on previous admission, sugars have\nbeen stable on home regimen.  She gets lantus at baseline with\nhumalog sliding scale adjusted by carb counting and fasting\n[**Year (4 digits) **] sugars.  By time of transfer to floor, she was tolerating\nPOs and was back on home regimen.  She did have one episode of\nhypoglycemia with [**Year (4 digits) **] sugar to 39 on the morning of discharge\nwhich resolved with dextrose.\n\n# HTN\nPatient was continued on home lisinopril.\n\n# Communication: Patient, mother/[**First Name8 (NamePattern2) 58257**] [**Known lastname **] [**Telephone/Fax (1) 58276**]\nmother\n# Code: Full Code during this hospitalization\n\nMedications on Admission:\n1. gabapentin 300 mg Capsule Sig: One (1) Capsule PO TID (3\ntimes a day).\n2. camphor-menthol 0.5-0.5 % Lotion Sig: One (1) Appl Topical\nPRN (as needed) as needed for Itching.\n3. lidocaine 5 %(700 mg/patch) Adhesive Patch, Medicated Sig:\nOne (1) Adhesive Patch, Medicated Topical DAILY (Daily) as\nneeded for lower back pain: 12 hours on, 12 hours off as needed\nfor lower back pain.\n4. lisinopril 10 mg Tablet Sig: One (1) Tablet PO DAILY (Daily).\n\n5. citalopram 20 mg Tablet Sig: One (1) Tablet PO DAILY (Daily).\ndisp:*30 Tablet(s)* Refills:*2*\n6. Lantus 100 unit/mL Solution Sig: 20 U  Subcutaneous at\nbedtime.\n7. metoclopramide 10 mg Tablet Sig: One (1) Tablet PO QIDACHS.\n8. oxycodone 5 mg Tablet Sig: One (1) Tablet PO Q4H (every 4\nhours) as needed for pain. Disp:*15 Tablet(s)* Refills:*0*\n\n\nDischarge Medications:\n1. gabapentin 300 mg Capsule Sig: One (1) Capsule PO Q8H (every\n8 hours).\n2. lidocaine 5 %(700 mg/patch) Adhesive Patch, Medicated Sig:\nOne (1) Adhesive Patch, Medicated Topical DAILY (Daily).\n3. lisinopril 10 mg Tablet Sig: One (1) Tablet PO DAILY (Daily).\n\n4. citalopram 20 mg Tablet Sig: One (1) Tablet PO DAILY (Daily).\n\n5. metoclopramide 10 mg Tablet Sig: One (1) Tablet PO QID (4\ntimes a day): QACHS.\n6. Lantus 100 unit/mL Solution Sig: Twenty (20) units\nSubcutaneous at bedtime.\n7. camphor-menthol 0.5-0.5 % Lotion Sig: One (1) unit Topical\ntwice a day as needed for itching.\n8. Humalog 100 unit/mL Solution Sig: per home sliding scale\nSubcutaneous QACHS: per home sliding scale.\n9. (patient had also been given oxycodone from previous\nhospitalization and has some tablets left, but this is not a\nhome medication to be continued)\n\n\nDischarge Disposition:\nHome\n\nDischarge Diagnosis:\nPrimary:\nNausea and Vomiting\nLow Back Pain\n\nSecondary:\nDiabetes Mellitus Type 1\n\n\nDischarge Condition:\nMental Status: Clear and coherent.\nLevel of Consciousness: Alert and interactive.\nActivity Status: Ambulatory - Independent.\n\n\nDischarge Instructions:\nDear Ms. [**Known lastname **],\nYou were admitted to the hospital because you were having nausea\nand vomiting and your vomit looked like it may have been old\n[**Last Name (LF) **], [**First Name3 (LF) **] you were monitored overnight in the intensive care\nunit to make sure you did not have any bleeding, then transfered\nto the regular floor.\n\nYour [**First Name3 (LF) **] sugars were under good control this hospitalization,\nbut you did have one episode of low [**First Name3 (LF) **] sugars while you were\nsleeping.  Please be very careful about this at home.\n\nNo changes have been made to your medications.\n\nPlease be sure to keep the psychiatric evaluation appointment in\n[**Location (un) **] this [**Location (un) 2974**].  As we discussed, it will be very helpful\nfor you to help gain coping strategies to help you get past the\ndifficult times you have been through.\n\nFollowup Instructions:\nPlease be sure to keep all of your followup appointments.\n\nPsychiatry Evaluation:\n[**Location (un) 2974**], [**8-8**] at 9:15am\n[**Street Address(2) **], [**Location (un) **], MA, [**Telephone/Fax (1) 1691**]\n\nDepartment: SPINE CENTER\nWhen: THURSDAY [**2132-8-7**] at 10:00 AM\nWith: [**Name6 (MD) 1089**] [**Name8 (MD) 1090**], MD [**Telephone/Fax (1) 3736**]\nBuilding: SC [**Hospital Ward Name 23**] Clinical Ctr [**Location (un) 551**]\nCampus: EAST     Best Parking: [**Hospital Ward Name 23**] Garage\n\nPrimary Care:\nDepartment: [**Hospital3 249**]\nWhen: [**Hospital3 **] [**2132-8-12**] at 1:45 PM\nWith: [**Name6 (MD) **] [**Name8 (MD) **], MD [**Telephone/Fax (1) 250**]\nBuilding: SC [**Hospital Ward Name 23**] Clinical Ctr [**Location (un) 895**]\nCampus: EAST     Best Parking: [**Hospital Ward Name 23**] Garage\n\nDepartment: DIV. OF GASTROENTEROLOGY\nWhen: [**Hospital Ward Name **] [**2132-8-15**] at 10:00 AM\nWith: [**Initials (NamePattern4) **] [**Last Name (NamePattern4) 11716**] [**Name8 (MD) 11717**], MD [**Telephone/Fax (1) 463**]\nBuilding: Ra [**Hospital Unit Name 1825**] ([**Hospital Ward Name 1826**]/[**Hospital Ward Name 1827**] Complex) [**Location (un) **]\nCampus: EAST     Best Parking: Main Garage\n\n\n\n'

In [4]:
dn[dn['SUBJECT_ID'] == 42728]

,Unnamed: 0,SUBJECT_ID,HADM_ID,ICUSTAY_ID,LOS_ICU_days,first_ICU_stay,GLCPERIOD,GLC,GLCTIMER,ENDTIME,GLCSOURCE,EVENT,INSULINTYPE,INPUT,INPUT_HRS,INFXSTOP,CHARTDATE,CATEGORY,DESCRIPTION,TEXT
653160,653160,42728,142693,299979,1,True,2127-12-05 03:37:00,146.0,2127-12-05 03:37:00,2127-12-05 03:38:00,BLOOD,NaN,NaN,NaN,NaN,NaN,2127-12-10,Discharge summary,Report,Admission Date: [**2127-12-2**] ...
653161,653161,42728,142693,299979,1,True,2127-12-05 22:00:00,169.0,2127-12-05 22:00:00,2127-12-05 22:01:00,FINGERSTICK,NaN,NaN,NaN,NaN,NaN,2127-12-10,Discharge summary,Report,Admission Date: [**2127-12-2**] ...
653162,653162,42728,142693,299979,1,True,2127-12-06 00:00:00,NaN,2127-12-06 00:00:00,2127-12-06 00:01:00,NaN,BOLUS_INYECTION,Short,4.0,NaN,0.0,2127-12-10,Discharge summary,Report,Admission Date: [**2127-12-2**] ...
653163,653163,42728,142693,299979,1,True,2127-12-06 02:25:00,129.0,2127-12-06 02:25:00,2127-12-06 02:26:00,BLOOD,NaN,NaN,NaN,NaN,NaN,2127-12-10,Discharge summary,Report,Admission Date: [**2127-12-2**] ...
653164,653164,42728,142693,299979,1,True,2127-12-06 10:00:00,NaN,2127-12-06 10:00:00,2127-12-06 10:01:00,NaN,BOLUS_INYECTION,Short,4.0,NaN,0.0,2127-12-10,Discharge summary,Report,Admission Date: [**2127-12-2**] ...
653165,653165,42728,142693,299979,1,True,2127-12-06 10:00:00,153.0,2127-12-06 10:00:00,2127-12-06 10:01:00,FINGERSTICK,NaN,NaN,NaN,NaN,NaN,2127-12-10,Discharge summary,Report,Admission Date: [**2127-12-2**] ...
653166,653166,42728,142693,299979,1,True,2127-12-06 16:00:00,170.0,2127-12-06 16:00:00,2127-12-06 16:01:00,FINGERSTICK,NaN,NaN,NaN,NaN,NaN,2127-12-10,Discharge summary,Report,Admission Date: [**2127-12-2**] ...
653167,653167,42728,142693,299979,1,True,2127-12-06 16:30:00,NaN,2127-12-06 16:30:00,2127-12-06 16:31:00,NaN,BOLUS_INYECTION,Short,4.0,NaN,0.0,2127-12-10,Discharge summary,Report,Admission Date: [**2127-12-2**] ...

In [7]:
d_icd.head()

   ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
0    1297         109   172335      1.0     40301
1    1298         109   172335      2.0       486
2    1299         109   172335      3.0     58281
3    1300         109   172335      4.0      5855
4    1301         109   172335      5.0      4254

In [ ]:
#Für später, wenn man alle T1D gefunden hat
mask = d_icd["SUBJECT_ID"].isin(ID_T1DM)
print(mask)

df_NEU = d_icd[mask]

d_icd_neu1 = df_NEU.sort_values("SUBJECT_ID") 
d_icd_neu1.drop_duplicates(subset=['SUBJECT_ID'],inplace = True)
d_icd_neu1.reset_index(inplace=True)
df_neu1

In [9]:
d_icd_d.head()

,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
0,174,01166,TB pneumonia-oth test,"Tuberculous pneumonia [any form], tubercle bac..."
1,175,01170,TB pneumothorax-unspec,"Tuberculous pneumothorax, unspecified"
2,176,01171,TB pneumothorax-no exam,"Tuberculous pneumothorax, bacteriological or h..."
3,177,01172,TB pneumothorx-exam unkn,"Tuberculous pneumothorax, bacteriological or h..."
4,178,01173,TB pneumothorax-micro dx,"Tuberculous pneumothorax, tubercle bacilli fou..."

In [21]:
d_icd_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14567 entries, 0 to 14566
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ROW_ID       14567 non-null  int64
 1   ICD9_CODE    14567 non-null  object
 2   SHORT_TITLE  14567 non-null  object
 3   LONG_TITLE   14567 non-null  object
dtypes: int64(1), object(3)
memory usage: 455.3+ KB

In [11]:
ICD_9_D = [25001, 25003, 25011, 25013, 25021, 25023, 25031, 25033, 25041, 25043, 25051, 25053, 25061, 25063, 25071, 25073, 25081, 25083, 25091, 25093]

In [12]:
ICD_9_D

[25001,
 25003,
 25011,
 25013,
 25021,
 25023,
 25031,
 25033,
 25041,
 25043,
 25051,
 25053,
 25061,
 25063,
 25071,
 25073,
 25081,
 25083,
 25091,
 25093]

In [23]:
d_typ1 = d_icd_d['ICD9_CODE'].isin(ICD_9_D)

In [24]:
print(d_typ1)

0        False
1        False
2        False
3        False
4        False
         ...
14562    False
14563    False
14564    False
14565    False
14566    False
Name: ICD9_CODE, Length: 14567, dtype: bool

In [32]:
d_typ1 = pd.DataFrame(d_typ1)

In [33]:
d_typ1

       ICD9_CODE
0          False
1          False
2          False
3          False
4          False
...          ...
14562      False
14563      False
14564      False
14565      False
14566      False

[14567 rows x 1 columns]

In [35]:
d_typ1_true = d_typ1[d_typ1['ICD9_CODE'] == True]

In [36]:
d_typ1_true

Empty DataFrame
Columns: [ICD9_CODE]
Index: []